<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>about me</title>
</head>
<body>
    about me <br>
    <a href="./">to top</a>
    <!-- <%= name %> -->
    <% for (var item of name) { %>
        <p><%= item %></p>
    <% } %>
</body>
</html>